<ion-header>
  <ion-toolbar translucent>
    <ion-title>Browse in</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item (click)="onNavigate()">
      <svg width="50" height="50" viewBox="0 0 210 297">
          <rect style="fill:#00d7ff;fill-rule:evenodd;stroke-width:0.264583;fill-opacity:1"
            width="100" height="200" x="0" y="0" ry="15" />
          <rect style="fill:#000000;fill-opacity:0.8;stroke-width:0.264583"
            width="40" height="10" x="30" y="180" ry="5" />
      </svg>
      <ion-label>Internal storage</ion-label>
    </ion-item>
    <ion-item *ngIf="isThereSdCard" (click)="onNavigate(true)">
      <svg width="50" height="25" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;">
        <path d="M416,0H152.64L48,122.08V464c0,26.51,21.49,48,48,48h320c26.51,0,48-21.49,48-48V48C464,21.49,442.51,0,416,0z M432,464
          c0,8.837-7.163,16-16,16H96c-8.837,0-16-7.163-16-16v-48h64v-32H80V133.92L167.36,32H416c8.837,0,16,7.163,16,16V464z"/>
        <rect x="176" y="64" width="32" height="128"/>
        <rect x="240" y="64" width="32" height="128"/>
        <rect x="304" y="64" width="32" height="128"/>
        <rect x="368" y="64" width="32" height="128"/>
      </svg>
      <ion-label>SDCard</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
