<ion-header [translucent]="true">
  <ion-toolbar *ngIf="name != ''">
    <ion-title (click)="goHigher()"
      ><ion-icon name="arrow-undo"></ion-icon
    ></ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="home"></ion-icon>
      <span *ngFor="let folder of name"
        ><ion-icon name="chevron-forward-outline"></ion-icon>{{ folder }}</span
      >
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar *ngIf="name != ''">
      <ion-title (click)="goHigher()"
        ><ion-icon name="arrow-undo"></ion-icon
      ></ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>
        <ion-icon name="home"></ion-icon>
        <span *ngFor="let folder of name"
          ><ion-icon name="chevron-forward-outline"></ion-icon>{{ folder
          }}</span
        >
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let folder of ( directories | folders)" (click)="goDeeper(folder.name)">
      <ion-icon name="folder"></ion-icon>
      <p>&nbsp; {{ folder.name }}</p>
    </ion-item>
    <ion-item *ngFor="let file of ( directories | files)">
      <ion-icon name="document"></ion-icon>
      <p>&nbsp; {{ file.name }}</p>
    </ion-item>
  </ion-list>
</ion-content>
