<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- path -->
    <ion-title>
      <ion-icon name="home"></ion-icon>
      <span *ngFor="let folder of name"
        ><ion-icon name="chevron-forward-outline"></ion-icon>{{ folder }}</span
      >
    </ion-title>
    <!-- Fin path -->
    <!-- go higher in path -->
    <ion-buttons slot="start">
      <ion-button (click)="goHigher()" *ngIf="name.length != 0">
        <ion-icon name="arrow-undo"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Fin go higher in path -->
    <!-- Menu storage -->
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Fin Menu storage -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let folder of ( directories | folders)" (click)="goDeeper(folder.name)">
      <ion-icon name="folder"></ion-icon>
      <p>&nbsp; {{ folder.name }}</p>
    </ion-item>
    <ion-item *ngFor="let file of ( directories | files)" (click)="openPdf(file.uri, file.name)">
      <ion-icon name="document"></ion-icon>
      <p>&nbsp; {{ file.name }}</p>
    </ion-item>
  </ion-list>
</ion-content>
